@page "/DraftMain"
@* @page "/DraftMain/{OwnerID}" *@

@using ApplicationLayer.Entities.Drafts

@inherits DraftsMainBase

@{
    DraftMasterMain draftMasterMain = new DraftMasterMain();


}

<TabControl>
    <TabPage Text="Documents">
        <RelatedNotes EntityID="@EntityID"></RelatedNotes>
    </TabPage>
</TabControl>

<div class="form-row" style="">
    <button type="submit" class="btn btn-primary" style="width:150px;" @*onclick="OnPostCreateTract" *@> Save </button>
    <button type="submit" class="btn btn-danger" style="width:150px;" @*onclick="OnPostCreateTract" *@>Delete</button>
    <button type="button" class="btn btn-primary" style="width:150px;" @*onclick="OnPostCreateTract" *@>Print</button>
    <NavLink id="" name="ViewTractListBttn" class="btn btn-primary" style="width:150px;" href="@($"/ListOfDrafts")"> View Drafts</NavLink>
</div>
<EditForm Model="@draftMasterMain">

    <div class="container border border-top border-bottom m-1 auto">
        @* border-dark *@
        <div class="card accent-card">
            <div class="form-row">
                <div class="card-body">
                    <div class="card-header form-control-sm">
                        @{
                            if (EntityID != null)
                            {
                                <strong class="me-auto">Drafts for {@draftMasterMain.PropertyId}</strong>
                            }
                            // else
                            if (EntityID == null)
                            {
                                <strong class="me-auto">Drafts</strong>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col" style="align-items:center; align-content:center;">
                    <div class="card-header form-control">Identification</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-3">
                                <label class="opacity-50 form-control-sm mb-0">Property Type:</label>
                            </div>
                            <div class="col" style="padding-bottom:3px;">
                                @if (string.IsNullOrWhiteSpace(EntityID))
                                {
                                    <select id="PropertySelectionDropdown" class="form-control" style="width:250px;">
                                        <option value="0">Choose Address Types</option>
                                        <option value="1">Lease</option>
                                        <option value="2">Tract</option>
                                        <option value="3">Well</option>
                                        <option value="4">Unit</option>
                                        <option value="5">Contract</option>
                                        <option value="6">Property</option>
                                        <option value="7">Formation</option>
                                        <option value="8">Prospect</option>
                                    </select>
                                }

                                @if (!string.IsNullOrWhiteSpace(EntityID))
                                {
                                    <InputSelect @bind-Value="draftMasterMain.PropertyType" class="form-control-sm text-sm-right" style="align-self:center; width:150px;" placeholder="(Ex. Region)"></InputSelect>
                                }
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-3">
                                <label class="opacity-50 form-control-sm mb-0">Property ID:</label>
                            </div>
                            <div class="col">
                                @if (string.IsNullOrWhiteSpace(EntityID))
                                {
                                    @* <input list="wellTypes" id="wellTypesList" class="form-control" />
                                    <datalist id="wellTypes">
                                        <option value="0">Well Type</option>
                                        @foreach (var item in wellTypes)
                                        {
                                            <option value="@item.">@item.</option>
                                        }
                                    </datalist> *@

                                    <select id="PropertyIDSelectionDropdown" class="custom-select">
                                        <option value="0">Select a Property ID</option>
                                        @foreach (var item in propertyIDList)
                                        {
                                            <option value="@item.">@item.</option>
                                        }
                                    </select>
                                }

                                @if (!string.IsNullOrWhiteSpace(EntityID))
                                {
                                    <InputSelect @bind-Value="draftMasterMain.PropertyId" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder="(Ex. James Smith)"></InputSelect>
                                }                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="align-items:center; align-content:center;">
                    <div class="card-header form-control">Bank Information</div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-3">
                                <label class="opacity-50 form-control-sm mb-0">Bank ID No:</label>
                            </div>
                            <div class="col" style="padding-bottom:3px;">
                                <InputSelect @bind-Value="draftMasterMain.BankIdNo" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder="(Ex. JM001)"></InputSelect>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-3">
                                <label class="opacity-50 form-control-sm mb-0">Bank Fees:</label>
                            </div>
                            <div class="col">@* style="padding-bottom:3px;" *@
                                <InputNumber @bind-Value="draftMasterMain.BankFees" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder="(Ex. James Smith)"></InputNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                @* <div class="card-body"> *@
                <div class="card-header form-control">Draft Information</div>
                @* </div> *@
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Form ID:</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputSelect @bind-Value="draftMasterMain.DraftFormId" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputSelect>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3 ">
                                    <label class="opacity-50 form-control-sm mb-0">Draft No:</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputText @bind-Value="draftMasterMain.DraftNo" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder="(Ex. EIN NUMBER)"></InputText>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Draft Date:</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputDate @bind-Value="draftMasterMain.DraftDate" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder="(Ex. 123-45-6789)"></InputDate>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Amount:</label>
                                </div>
                                <div class="col">
                                    <InputNumber @bind-Value="draftMasterMain.DraftAmount" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Paid On:</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputDate @bind-Value="draftMasterMain.DatePaid" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputDate>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Due Days</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputNumber @bind-Value="draftMasterMain.DueDays" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputNumber>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Paid By</label>
                                </div>
                                <div class="col" style="padding-bottom:3px;">
                                    <InputSelect @bind-Value="draftMasterMain.PaidById" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputSelect>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-3">
                                    <label class="opacity-50 form-control-sm mb-0">Payee ID</label>
                                </div>
                                <div class="col">
                                    <InputSelect @bind-Value="draftMasterMain.PayeeId" class="form-control-sm text-sm-right" style="align-self:center; width:250px;" placeholder=""></InputSelect>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</EditForm>


@code {

    
}

