@page "/LeaseRelatedTracts"

@inherits LeaseMainBase


@using DomainLayer.Entities.Assets.Tracts

@{
    //LeaseID = IdFromListView;
}

<EditForm Model="@leaseModel">
    <div class="dashboard-container">
        <br />
        <div class="form-row">
            <GenDatabaseList Elements="associatedTracts">

                <HrefModalName>
                    @* <div class="form-row"> *@
                    <div class="col-3">
                        <NavLink class="edit" href="@($"/FIX THIS")" data-toogle="modal">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>
                            @($"Attach to {LeaseID}")
                        </NavLink>
                    </div>

                    <div class="col-3">
                        <div class="justify-content-center">
                            <h4>Tracts for @($"{LeaseTablePK}")</h4>
                        </div>
                    </div>
                    @* <div class="col-4">
                            <a href="test" class="btn btn-primary" style="width: auto;" data-toggle="modal">
                                <span> @($"View {LeaseTablePK}") </span>
                            </a>
                        </div> *@
                    @* </div> *@
                </HrefModalName>


                <TableHeader>
                    @* <div class="form-row"></div> *@
                    @* <th>ID</th> *@
                    <th>Name</th>
                    <th>Description</th>
                    <th>Developed</th>
                    <th>Undeveloped</th>
                </TableHeader>

                <RowTemplate Context="connectedTracts">
                    @* <td><a href="@($"/ConnectedTractLeases/{Leases.Id}")" class="nav-link">@Leases.Id</a></td> *@
                    <td><a href="@($"/Tracts/{Convert.ToString(connectedTracts.Id)}/{connectedTracts.TractId}")" class="nav-link">@connectedTracts.TractId</a></td>
                    <td>@connectedTracts.FullDescription</td>
                    <td>@connectedTracts.DevelopedAcreage</td>
                    <td>@connectedTracts.UndevelopedAcreage</td>
                </RowTemplate>

                <HrefEditModal>
                    <a href="@($"#edit{LeaseTablePK}")" class="edit" data-toogle="modal">
                        <i class="material-icons" data-toogle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                </HrefEditModal>

                <HrefDeleteModal>
                    <a href="@($"#delete{LeaseTablePK}")" class="delete" data-toogle="modal">
                        <i class="material-icons" data-toogle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                </HrefDeleteModal>

            </GenDatabaseList>
        </div>
    </div>
    <br />
    <div class="dashboard-container"
    style="">
        <div class="container border border-top border-bottom border-dark m-1"
        style="">

            <div class="form-row"
            style="">

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ListOfRelatedLeaseOwners IdFromListView="@IdFromListView"></ListOfRelatedLeaseOwners>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedTractWIs LeaseID="@IdFromListView" TractId=""></ConnectedTractWIs>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedTractWIDetails LeaseID="@IdFromListView"></ConnectedTractWIDetails>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedTractSpecialObligations IdFromListView="@IdFromListView"></ConnectedTractSpecialObligations>
                </div>

            </div>

        </div>

        <div class="container border border-top border-bottom border-dark m-1"
        style="">

            <div class="form-row"
            style="">

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedTractWells 
                    LeaseID="@LeaseID">
                    </ConnectedTractWells>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedTractBurdens  LeaseID="@LeaseID"></ConnectedTractBurdens>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedLeasePaymentObligations LeaseID="@LeaseID"></ConnectedLeasePaymentObligations>
                </div>

                <div class="col-3 "
                style="padding:inherit;
                            position:relative;">
                    <ConnectedLeaseSpecialProvisions IdFromListView="@IdFromListView"></ConnectedLeaseSpecialProvisions>
                </div>

            </div>

        </div>

    </div>

</EditForm>

@code
{
    #region CASCADING PARAMS

    //[Parameter] public string? LeaseID { get; set; } = string.Empty;

    #endregion CASCADING PARAMS

    List<ApplicationLayer.Entities.TractsLeaseConnection> associatedTracts { get; set; }
       = new List<ApplicationLayer.Entities.TractsLeaseConnection>();

    string errorString;

    protected override async Task OnInitializedAsync()
    {

        if (InitialState == false)
        {
            

        }
        else
        if (InitialState == true)
        {

        }

        // if (!string.IsNullOrEmpty(LeaseTablePK))
        // {
        //     associatedTracts = await _leasePopulateDataGrids.RetrieveAllTractLeasesAsync(LeaseTablePK);
        // }
        // else
        // if (string.IsNullOrEmpty(LeaseTablePK))
        // {
        //     associatedTracts = await _leasePopulateDataGrids.RetrieveAllTractLeasesAsync(IdFromListView);
        // }
        //await PopulateDropdowns(LeaseID);
        //_LeaseID
        //_leaseEntityContext.Lease_ID = LeaseID;

        // if (LeaseID != null) {

        //     var request = new HttpRequestMessage(HttpMethod.Get,
        //     _config["API_URL"] + $"TractLease/SearchAllTractLeasesByLeaseId/{LeaseID}");/*tractOwnership.*/
        //     var client = _clientFactory.CreateClient();
        //     HttpResponseMessage response = await client.SendAsync(request);

        //     if (response.IsSuccessStatusCode)
        //     {
        //         using var responseStream = await response.Content.ReadAsStreamAsync();
        //         associatedTracts = await JsonSerializer
        //                      .DeserializeAsync<List<ApplicationLayer.Entities.TractsLeaseConnection>>(responseStream);

        //         errorString = null;
        //     }
        //     else
        //     {
        //         errorString = $"There was an error getting Burdens Data: {response.ReasonPhrase}";
        //     }

        // }
        // else if (LeaseID == null)
        // {

        // }
    }
}