@page "/ConnectedTractEasements"

@using ApplicationLayer.Entities

@inherits TractMorePageBase

@inject IJSRuntime jsRuntime
@inject Microsoft.Extensions.Configuration.IConfiguration _config
@inject IHttpClientFactory _clientFactory


<h3>Easements for @($"{TractID}")</h3>


<div class="container">
    <GenDatabaseList Elements="TractEasement">
        <HrefModalName>
            <div class="col-4">
                <a href="test" class="btn btn-primary" style="width: auto;" data-toggle="modal">
                    <span> @($"View {ComponentName}") </span>
                </a>
            </div>
            <div class="col-4">
                <a href="test" class="btn btn-primary" style="width: auto;" data-toggle="modal">
                    <span> @($"Attach to {ComponentName}") </span>
                </a>
            </div>
        </HrefModalName>
        <TableHeader>
            <th>Name</th>
            <th>Description</th>
            <th>Developed</th>
            <th>Undeveloped</th>
        </TableHeader>

        <RowTemplate Context="Easements">
            <td><a href="@($"/EasementMain/{Easements.EasementId}")" class="nav-link">@Easements.EasementId</a></td>
            <td>@Easements.EasementLegalDescription</td>
            <td>@Easements.Developed</td>
            <td>@Easements.Undeveloped</td>
        </RowTemplate>

        <HrefEditModal>
            <a href="@($"#edit{title}")" class="edit" data-toogle="modal">
                <i class="material-icons" data-toogle="tooltip" title="Edit">&#xE254;</i>
            </a>
        </HrefEditModal>
        <HrefDeleteModal>
            <a href="@($"#delete{title}")" class="delete" data-toogle="modal">
                <i class="material-icons" data-toogle="tooltip" title="Delete">&#xE872;</i>
            </a>
        </HrefDeleteModal>
    </GenDatabaseList>
</div>

<div>
    <div class="row">
        <ol>
            @foreach (var item in TractDepth)
            {
                <li>
                    @item
                </li>
            }
        </ol>
    </div>
</div>


@code
{
    #region CASCADING PARAMS
    [Parameter] public string? TractID { get; set; } = string.Empty;
    #endregion CASCADING PARAMS

    static string title = "TractEasementModal";
    //string tractId = "OK01-NOR-001";
    string ComponentName = "Easement(s)";
    //string LeasePage = $"TractLeasePopup/{TractID}";

    // private int totalPageQuantity;
    // private int currentPage = 1;

    List<EasementMainForm> TractEasement { get; set; }

    string errorString;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
        _config["API_URL"] + $"TractEasement/SearchAllTractEasementsByTractId/{TractID}");
        var client = _clientFactory.CreateClient();
        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            TractEasement = await JsonSerializer.DeserializeAsync<List<ApplicationLayer.Entities.EasementMainForm>>(responseStream);

            errorString = null;
        }
        else
        {
            errorString = $"There was an error getting Prospects Data: {response.ReasonPhrase}";
        }
    }

}